{% layout 'layout.liquid' %}
{% block content %}

<div class="container h-100 py-5">
    <div class="row d-flex h-100">
    
    <form action="/auth/signup" method="POST">
        <fieldset>
            <legend>Sign Up Here!</legend>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Username: </label>
                <div class="col-sm-9 mb-3">
                    <input type="text" name="username" placeholder="username" class="form-control" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Password:</label>
                <div class="col-sm-9 mb-3">
                    <input type="password" name="password" placeholder="enter password" class="form-control" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Zip Code:</label>
                <div class="col-sm-9 mb-3">
                    <input type="text" name="zipCode" placeholder="enter your zipcode" class="form-control" required>
                </div>
            </div>
        
        </fieldset>
        <input type="submit" value="Create Account" class="float-end btn btn-primary">
    </form>
</div>
</div>
</div>

{% endblock %}