{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/task/{{ routine.id }}/{{task.id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Add a task to your routine</legend>
         {%for task in routine.listItems%}
            <label class="form-label">To Do:</label>
            <input 
                type="text" 
                name="task" 
                placeholder="enter task" 
                class="form-control"
                value="{{task.task}}"
            >
            <label class="form-label">Type of Routine:</label>
            <input 
                type="text" 
                name="type" 
                placeholder="Daily or Weekly"
                class="form-control"
                value="{{task.type}}"
            > 
            <label class="form-label">Complete:</label>
            <input 
                type="checkbox" 
                name="complete" 
                class="form-check-input"
                {% if task.complete %}
                 checked
                 {% endif %}
                

            > 
        </fieldset>
        {% endfor %}
        <input type="submit" value="Edit Your To-Do" class="btn btn-success">
    </form>
    </div>
</div>
{% endblock %}