{% layout 'layout.liquid' %}
{% block content %}
<div class="container h-100">
  <div class="row d-flex justify-content-center  h-100">
    <div class="col col-lg-8 col-xl-6">
      <form action="/task/new/{{ routine.id }}" method="POST">
        <fieldset>
          <legend>Add a task to your {{routine.title}}</legend>
          <div class="form-group row">
            <label for="newTodo" class="col-sm-3 col-form-label">To Do:</label>
            <div class="col-sm-9 mb-3">
              <input type="text" name="task" placeholder="enter task" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="Type of Routine" class="col-sm-3 col-form-label">Type of Routine:</label>
            <div class="col-sm-9">
              <select class="form-control" name="type">
                <option>select</option>
                <option>daily</option>
                <option>weekly</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Complete:</label>
            <div class="col-sm-9">
              <input type="checkbox" name="complete" class="form-check-input">
            </div>
          </div>
        </fieldset>
        <div class="container-fluid">
          <div class="col">
            <input type="submit" value="Add new item to {{routine.title}} Routine" class="float-end btn btn-primary">
          </div>
        </div>
      </form>
       
     
    </div>
  </div>
</div>

{% endblock %}}