{% layout 'layout.liquid' %}
{% block content %}

    <form action="/task/{{routine.id}}" method="POST">
        <div class ="container py-5">
            <div class="container py-5 h-100">
           <fieldset>
            <legend>Add a task to your {{routine.title}}</legend>
            <div class="form-group row"> 
            <label class="col-sm-2 col-form-label">To Do:</label>
            <div class="col-sm-10">
            <input 
                type="text" 
                name="task" 
                placeholder="enter task" 
                class="form-control bg-info text-white rounded-3"
            >
            </div>
            </div>

            <div class="form-group row"> 
            <label class="col-sm-2 col-form-label">Type of Task:</label>
            <div class="col-sm-10">
            <input 
                type="select" 
                name="type" 
                placeholder="Daily or Weekly"
                class="form-control "
            >
            </div>
            </div>
            <div class="form-group row"> 
            <label class="col-sm-2 col-form-label"> Complete:</label>
            <div class="col-sm-10">
            <input 
                type="checkbox" 
                name="complete" 
                class="form-check-input"
            >
            </div>
            </div> 
        </fieldset>
        </div>
        </div>
        <input type="submit" value="Create New Task" class="btn col-md-2 offset-md-8 btn-info">
    </form>
</div>
{% endblock %}