{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">Let's Take a Look at Your Routine</h2>
    <div class="row">
        {% for routine in routines %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">
                {{ routine.title }}
            </h5>
            <div class="card-body"></div>
          
            {% for task in routine.listItems %} 
            <ul class="list-group list-group">
            <li>{{task.task}}</li>
            <li>{{task.type}}</li>
            <li>{{task.complete}}</li>
             {% endfor %} 
             </ul>
            </div>

           {% endfor %} 
        </div>
        
    </div>
   
{% endblock %}