{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">Your Routine</h2>
    <div class="row">
        {% for routine in routine %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ routine.title }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    Ready?: {{ routine.listItem }}
                </h5>
         
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}