{% layout 'layout.liquid' %}
{% block content %}
<div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-8 col-xl-6">
            <form action="/routine/" method="POST">
                <fieldset>
                    <h3>Create New Routine</h3>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Title:
                        </label>
                        <div class="col-sm-9 mb-3">
                            <input type="text" name="title" placeholder="enter example title" class="form-control">
                        </div>
                    </div>
                </fieldset>
                <input type="submit" value="Create New Routine" class="btn btn-primary float-end">
            </form>
        </div>
    </div>
</div>
{% endblock %}}