{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/routine/" method="POST">
        <fieldset>
            <legend>Create New Routine</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="enter example title"
                class="form-control"
            >
        
        </fieldset>
        <input type="submit" value="Create New Routine" class="btn btn-success">
    </form>
</div>
{% endblock %}