{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/routine" method="POST">
        <fieldset>
            <legend>Create New Routine</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="enter example title"
                class="form-control"
            >
            <label class="form-label">Task:</label>
            <input 
                type="text" 
                name="body" 
                placeholder="enter task" 
                class="form-control"
            >
            <label class="form-label">Daily:</label>
            <input 
                type="checkbox" 
                name="task.type.daily" 
                class="form-check-input"
            > 
            <label class="form-label">Weekly:</label>
            <input 
                type="checkbox" 
                name="task.type.weekly" 
                class="form-check-input"
            > 
        </fieldset>
        <input type="submit" value="Create New Routine" class="btn btn-success">
    </form>
</div>
{% endblock %}