{% layout "layout.liquid" %}
{% block content %}

    <h1>Let's take a look at your Routine</h1>
    <div class ="row">
        {%for routine in routines%}
            <div class ="card"> 
                <div class="card body">
                    <h3>
                        {{routine.title}}
                        {{routine.listItem}}
                        {{routine."task"}}
                        
                    </h3>
                </div>
            </div>
    </div>


{% endblock %}