{% layout "layout.liquid" %}
{% block content %}


<header class="masthead">
  <div class="container h-100 py-5">
    <div class="row h-100 align-items-center">
      <div class="col-15 text-center">
        <h1 class="index">Well Done!</h1>
        <h2>Look at you sticking to your daily routine!</h2>
      </div>
    </div>
  </div>
</header>

{% endblock %}}