{% layout "layout.liquid" %}
{% block content %}



<div class="jumbotron">
  <div class="container text-center py-5">
    <div class ="row d-flex justify-content-around">
      <div class="col-sm-4 d-flex align-items-center"><blockquote class="blockquote align-items-center">
        <h1>YOUR DAILY ROUTINE MATTERS</h1>
    </blockquote></div>
      <div class="col-sm-4 d-flex align-items-center "><img src="../dailyRoutine.svg" alt-text="picture with coffee cup and a pen  on top of note that says your daily routine matters. "></div>
    </div>
    </div>
  </div>
</div>    

{% endblock %}}