{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/routine/{{ routine.id }}" method="POST">
        <fieldset>
            <legend>Add a task to your routine</legend>
          
            <label class="form-label">To Do:</label>
            <input 
                type="text" 
                name="task" 
                placeholder="enter task" 
                class="form-control"
            >
            <label class="form-label">Type of Routine:</label>
            <input 
                type="text" 
                name="type" 
                placeholder="Daily or Weekly"
                class="form-control"
            > 
            <label class="form-label">Complete:</label>
            <input 
                type="checkbox" 
                name="complete" 
                class="form-check-input"
            > 
        </fieldset>
        <input type="submit" value="Create New Routine" class="btn btn-success">
    </form>
</div>
{% endblock %}