/* font-family: 'Acme', sans-serif;
font-family: 'Comforter Brush', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Kalam', cursive; */

body{
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
 	background-position: center ;
 	background-size: cover;
	font-family: 'Acme', sans-serif;

}
h1{
	font-size: 70px;
}
.index{
	color: rgb(123,172,142);
	font-size: 70px;
}
h2{
	font-family:'Dancing Script', cursive ;
	font-size: 60px;
}
.card-body, .card-header{
	color: white;
	background-color: rgb(123,172,142);
	text-align: center;
}

.btn-info{
	background-color: rgb(123,172,142) ;
	color:azure;
}
span.badge.bg-info{
	background: rgb(123,172,142);
	background-color: rgb(123,172,142) ;
	color:azure;
}
.btn-primary{
	background-color: rgb(53,110,153);
}

.btn-danger{
	background-color: rgb(98,0,7);
	border:rgb(98,0,7) ;
}


