/* font-family: 'Acme', sans-serif;
font-family: 'Comforter Brush', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Kalam', cursive; */

body{
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
 	background-position: center ;
 	background-size: cover;
	font-family: 'Acme', sans-serif

}
